{{#if (if_has this.members)}}
    <button type="button" class="collapsible">Members ({{array_length this.members}})</button>
    <div class="content">
    {{#each this.members}}
        {{> users}}
    {{/each}}
    </div>
{{else}}
    <button type="button" class="not_collapsible">Members ({{array_length this.members}})</button>
{{/if}}