.oznameni_placeholder_main {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
}

.column_for_invicible {
    display: flex;
    justify-content: center;
    position: relative;
    height: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 300px;
}

.channel_select {
    text-align: center;
    float: left;
    width: 200px;
    height: 30px;
    background-color: #2f3136;
    color: #99AAB5;
    border-radius: 6px;
    border: 0;
    font-family: "Verdana";
}

.login {
    text-align: center;
    float: left;
    width: 200px;
    height: 30px;
    background-color: #2f3136;
    color: #99AAB5;
    border-radius: 6px;
    border: 0;
    font-family: "Verdana";
}

.zprava {
    text-align: center;
    float: left;
    width: 600px;
    height: 247px;
    background-color: #2f3136;
    color: #99AAB5;
    border-radius: 6px;
    border: 0;
    font-family: "Verdana";
    resize: none;
}

.send {
    text-align: center;
    float: left;
    width: 150px;
    height: 30px;
    background-color: #2f3136;
    color: #99AAB5;
    border-radius: 6px;
    border: 0;
    font-family: "Verdana";
}