.counter_placeholder {
    border-radius: 5px;
    background-color: #202225;
    margin: 1%;
    width: fit-content;
    position: fixed;
    bottom: 0;
}

.counter {
    margin: 5px;
    font-size: 24px;
    color: #99AAB5;
    font-family: Verdana;
}