.top {
    display: flex;
    padding: 0;
    height: 7vh;
    line-height: 7vh;
    background-color: #111;
    text-align: center;
    z-index: 11;
}

.middle {
    height: 93vh;
    display: flex;
}

.top_text {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: min(5vh, 5vw);
    margin: 0;
    color: #fff;
}

.middle {
    height: 93vh;
    display: flex;
}

.server_stats {
    border-radius: min(5vh, 5vw);
    background-color: #111;
    margin: 1vh 0 0 1vw;
    width: 98vw;
    height: 91vh;
}

.server_stats_content {
    margin: min(5vh, 5vw) min(5vh, 5vw) min(5vh, 5vw) min(5vh, 5vw);
    width: calc(100% - min(5vh, 5vw) * 2);
    height: calc(100% - min(5vh, 5vw) * 2);
}

.guild_stat_text {
    margin: min(2vw, 10px) 0 min(2vw, 10px) 0;
    padding-left: min(2vh, 2vw);
    font-size: min(2vh, 2vw);
    color: #fff;
}

.guild_stat_text_collapsable {
    cursor: pointer;
    border-radius: min(2vh, 2vw);
    padding-top: min(1vw, 5px);
    padding-bottom: min(1vw, 5px);
    background-color: #222;
    user-select: none;
}::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
    background-color: #444;
}::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 5px;
    background-color: #333;
}

.first_level {
    margin-top: 0;
    margin-left: min(2vh, 2vw);
}

.second_level {
    margin-left: min(4vh, 4vw);
}

.third_level {
    margin-left: min(6vh, 6vw);
}

.collapsable_clear_background {
    border-radius: min(2vh, 2vw);
    background-color: #111;
} .active {
    border-bottom-left-radius: 0;
}

.guild_stat_text_collapsable_content {
    display: none;
    border-radius: 0 0 min(2vh, 2vw) min(2vh, 2vw);
    margin-top: 0;
    padding-left: 0;
    padding-top: min(1vw, 5px);
    padding-bottom: min(1vw, 5px);
    background-color: #222;
    max-height: calc(calc(min(2vh, 2vw) + min(2vw, 10px) * 2) * 6 + min(2vw, 10px));
    overflow-y: auto;
    overflow-x: hidden;
}

.guild_config {
    max-height: calc(calc(min(2vh, 2vw) + min(2vw, 10px) * 2) * 4 + min(2vw, 10px));
}

.guild_roles {
    max-height: calc(calc(min(2vh, 2vw) + min(2vw, 10px) * 2) * 10 + min(2vw, 10px));
}

.guild_members {
    max-height: calc(calc(min(2vh, 2vw) + min(2vw, 10px) * 2) * 10 + min(2vw, 10px));
}

.active_collapsable {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: min(2vh, 2vw);
}

.active {
    display: block;
}

.guild_stats_server_icon {
    border-radius: 25%;
    width: max(12vh, 12vw);
    height: max(12vh, 12vw);
}

.guild_stats_no_back {
    height: calc(91vh - min(5vh, 5vw) * 2 - min(7vh, 7vw));
    overflow-y: auto;
    overflow-x: hidden;
}

.back_btn {
    border-radius: calc(min(5vh, 5vw) * 2);
    position: absolute;
    background-color: #222;
    border: 0;
    cursor: pointer;
    bottom: 0;
    width: calc(100% - min(5vh, 5vw) * 2 - min(6vh, 6vw) / 2);
    height: min(6vh, 6vw);
    bottom: 0;
    transform: translateY(-100%);
}

.bordered {
    border: 1px white solid;
}