html {
    overflow: hidden;
    width: 100%;
}

body {
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    overflow: hidden;
    margin: 0;
    background-color: #222;
}