.top {
    height: 7vh;
}

.middle {
    height: 93vh;
    display: flex;
}

.stats_tab {
    padding-left: 125px;
    background-color: #111;
    height: 7vh;
    width: calc(100% - 125px);
}

.stats_content {
    font-size: 5vh;
    margin: 0;
    color: #fff;
}

.servers_coll {
    background-color: #111;
    width: 125px;
    height: 93vh;
    overflow: scroll;
    overflow-x: hidden;
}::-webkit-scrollbar {
    display: none;
}

.server_btn {
    cursor: pointer;
    border-color: 5px #444;
    border-radius: 100%;
    margin: 5% 0 0 5%;
    border: 0;
    padding: 0;
    width: 90px;
    height: 90px;
}

.server_icon {
    border-radius: 100%;
    width: 90px;
}

.active {
    margin-left: 25px;
}

.servers_stats {
    margin: 25px 0 0 25px;
    border-radius: 25px;
    background-color: #111;
    width: calc(100% - 125px - 50px);
    height: calc(100vh - 7vh - 50px);
    overflow: scroll;
    overflow-x: hidden;
}::-webkit-scrollbar {
    display: none;
}

.stats_server_icon {
    border-radius: 25%;
    height: 15vw;
}

.stat_text {
    font-size: 3vw;
    margin: 0;
    color: #fff;
}

.stat_top {
    width: fit-content;
    height: 15vw;
    display: flex;
}

.stat_middle {
    width: 100%;
}

.guild_info {
    display:none;
    margin: 10px 10px 0 10px;
}

.guild_active {
    display: flex;
}

.view_btn {
    margin-top: 5vh;
    border-radius: 25px;
    background-color: #444;
    width: 100%;
    height: fit-content;
}