body {
    background: #222;
    color: #fff;
}

a {
    color: inherit;
}

a .not_collapsible {
    cursor: pointer;
    background-color: rgb(255, 60, 60);
}

h1, h2, h3, h4 {
    padding-left: 20px;
}

.guild_button {
    display: inline-block;
    vertical-align: middle;
}

.text_middle {
    vertical-align: middle;
}

.icon {
    width: 75px;
    border-radius: 100%;
}

.avatar {
    width: 50px;
    border-radius: 100%;
}

.guild_name {
    display: flex;
    width: 100%;
    text-align: center;
}

.main_btn {
    border-radius: 18px;
    margin: 10px 0 0 0;
}

.collapsible {
    background-color: rgb(100, 100, 255);
    color: white;
    cursor: pointer;
    padding: 15px;
    min-width: 100%;
    width: fit-content;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.rounded_bottom {
    border-radius: 0 0 18px 18px;
}

.not_collapsible {
    background-color: rgb(50, 50, 255);
    color: white;
    padding: 15px;
    min-width: 100%;
    width: fit-content;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active {
    border-radius: 18px 18px 0 18px;
}

.not_colapsable .active {
    border-radius: 18px 18px 0 18px;
}

.active, .collapsible:hover {
    background-color: rgb(75, 75, 255);
}

.content {
    padding: 0 0 0 18px;
    display: none;
    overflow: hidden;
}

.not_colapsable {
    display: grid;
}

button:last-child {
    border-radius: 0 0 18px 18px;
}