a {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.top {
    display: flex;
    padding: 0;
    height: 7vh;
    line-height: 7vh;
    background-color: #111;
    text-align: center;
    z-index: 11;
}

.middle {
    height: 93vh;
    display: flex;
}

.top_text {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: min(5vh, 5vw);
    margin: 0;
    color: #fff;
}

.menu_btn {
    height: 7vh;
    width: 7vh;
    cursor: pointer;
    margin: 0 1vw 0 0.5vw;
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.menu_btn div {
    width: 100%;
    border-top: #fff 0.1vh solid;
    padding-top: 20%;
    z-index: 10;
}

.servers_list_padder {
    height: 7vh;
}

.servers_list {
    position: absolute;
    display: none;
    background-color: #111;
    width: max(9vh, 9vw);
    max-width: 150px;
    height: 100%;
    overflow-y : auto;
    overflow-x: hidden;
}::hover {
    z-index: 10;
    display: block;
}::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
    background-color: #444;
}::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 5px;
    background-color: #333;
}

.backgrounded_icon {
    position: relative;
    background-color: #111;
    z-index: 11;
}

.server_btn {
    border-color: transparent;
    border-radius: 100%;
    cursor: pointer;
    padding: 0;
    border: 0;
    margin: min(10px, 1vh) 0 0 min(10px, max(1vh, 1vw));
    width: min(100px, max(6vh, 6vw));
    height: min(100px, max(6vh, 6vw));
}

.server_icon {
    border-radius: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    width: min(100px, max(6vh, 6vw));
    height: min(100px, max(6vh, 6vw));
}

.server_stats {
    border-radius: min(5vh, 5vw);
    background-color: #111;
    margin: 1vh 0 0 1vw;
    width: 98vw;
    height: 91vh;
}

.server_stats_content {
    margin: min(5vh, 5vw) min(5vh, 5vw) min(5vh, 5vw) min(5vh, 5vw);
    width: calc(100% - min(5vh, 5vw) * 2);
    height: calc(100% - min(5vh, 5vw) * 2);
}

.guild_stats {
    display: none;
}

.guild_active {
    display: block;
}

.guild_stat_text {
    margin: min(2vw, 10px) 0 min(2vw, 10px) 0;
    padding-left: min(2vh, 2vw);
    font-size: min(2vh, 2vw);
    color: #fff;
}

.guild_stat_text_collapsable {
    cursor: pointer;
    border-radius: min(2vh, 2vw);
    padding-top: min(1vw, 5px);
    padding-bottom: min(1vw, 5px);
    background-color: #222;
    user-select: none;
}

.active_collapsable {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
}

.first_level {
    margin-top: 0;
    margin-left: min(2vh, 2vw);
}

.guild_stat_text_collapsable_content {
    display: none;
    border-radius: 0 0 min(2vh, 2vw) min(2vh, 2vw);
    padding-left: 0;
    padding-top: min(1vw, 5px);
    padding-bottom: min(1vw, 5px);
    background-color: #222;
    max-height: calc(calc(min(2vh, 2vw) + min(2vw, 10px) * 2) * 4 + min(2vw, 10px));
    overflow-y: auto;
    overflow-x: hidden;
}

.guild_stats_server_icon {
    border-radius: 25%;
    width: max(12vh, 12vw);
    height: max(12vh, 12vw);
}

.guild_stats_no_view {
    height: calc(91vh - min(5vh, 5vw) * 2 - min(7vh, 7vw));
    overflow-y: auto;
    overflow-x: hidden;
}

.view_btn {
    border-radius: calc(min(5vh, 5vw) * 2);
    position: absolute;
    background-color: #222;
    border: 0;
    cursor: pointer;
    bottom: 0;
    width: calc(100% - min(5vh, 5vw) * 2 - min(6vh, 6vw) / 2);
    height: min(6vh, 6vw);
    bottom: 0;
    transform: translateY(-100%);
}

.bordered {
    border: 1px white solid;
}

.active {
    display: block;
}

.active_server {
    margin: min(10px, 1vh) 0 0 min(40px, max(2vh, 2vw));
}