<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maveric Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/{{file}}.css">
    <script src="js/{{file}}.js" defer></script>
</head>
<body>
    {{{body}}}
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "grid") {
            content.style.display = "none";
            } else {
            content.style.display = "grid";
            }

            if(!this.classList.contains("main_btn") && !this.previousElementSibling.classList.contains("collapsible") && (this.previousElementSibling.classList.contains("content") || this.previousElementSibling.classList.contains("not_collapsible"))){
                this.previousElementSibling.classList.toggle("rounded_bottom");

            }
        });
        }
    </script>
</body>
</html>