<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maveric Dashboard</title>
    <style>
        body {
            background: #222;
            color: #fff;
        }

        a {
            color: inherit;
        }

        .collapsible {
        background-color: rgb(100, 100, 255);
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        }

        .not_collapsible {
        background-color: rgb(50, 50, 255);
        color: white;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        }

        .active, .collapsible:hover {
        background-color: rgb(75, 75, 255);
        }

        .content {
        padding: 0 0 0 18px;
        display: none;
        overflow: hidden;
        }
    </style>
</head>
<body style="background-color: #222;">
    {{{body}}}
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
            content.style.display = "none";
            } else {
            content.style.display = "block";
            }
        });
        }
    </script>
</body>
</html>