<body>

    <iframe style="display: none;" name="dummyframe" id="dummyframe"></iframe>


    <div class="nadpis" style="position: fixed;"> <b class="nadpis_text_format">Oznámení</b> </div>
    <div class="oznameni_placeholder_main">
        <div class="placeholder_father">
            <div class="slider_name">
                <b class="slider_name_text">Oznámení</b>
            </div>
            <div class="slider">

                <form action="/sendMessage" method="POST" target="dummyframe">
                    <input type="hidden" name="token" value="{{token}}">
                    <div class="column_for_invicible">
                        <select class="channel_select" name="channel" id="users" required>
                            <option value="" selected disabled hidden>Text Channel</option>
                            {{#each channels_ids}}
                            <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="column_for_invicible">
                        <input class="login" type="text" name="ID" style="cursor: pointer;" placeholder="Username" required>
                    </div>
                    <div class="column_for_invicible">
                        <input class="login" type="text" name="password" style="cursor: pointer;" placeholder="Password" required>
                    </div>
                    <div class="column_for_invicible">
                        <textarea class="zprava" name="zprava" cols="30" rows="10" placeholder="Zpráva" required></textarea>
                    </div>
                    <div class="column_for_invicible">
                        <input class="send" type="submit" style="cursor: pointer;">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <a href="{{{host_value}}}main" class="back">
        <div class="back_placeholder">
            <h2>Back to Main menu<br></h2>
        </div>
    </a>

</body>