<body style="margin: 0; background:#2f3136">
    <div class="nadpis"> <b class="nadpis_text_format">🎮 🎮 🎮 GAMES 🎮 🎮 🎮</b> </div>
    <div class="placeholder_main">
        <div class="placeholder_father">
            <div class="slider_name">
                <b class="slider_name_text">Herní Rozcestník</b>
            </div>
            <div class="slider">
                {{#each games}}
                <a href="{{{this.site}}}" class="remove_decor">
                    <div class="slide"><b class="odkazy_format" id="members">{{this.name}}</b></div>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
    <a href="{{{host_value}}}main" class="back">
        <div class="back_placeholder">
            <h2>Back to Main menu<br></h2>
        </div>
    </a>
</body>