<!DOCTYPE html>
<html>
<style>
    .nadpis {
        margin: 0;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        background: #202225;

    }

    .nadpis_text_format {
        font-size: 48px;
        font-family: "Verdana";
        color: white;
    }

    .slider {
        float: none;
        width: 350px;
        height: 500px;
        overflow-y: scroll;
        border-top: 0px;
    }

    .slide {
        float: none;
        margin: 2% 1% 1% 1%;
        width: 98%;
        height: fit-content;
        border-radius: 5px;
        background-color: #2f3136;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #37393b;
        border-radius: 10px;
    }

    .placeholder_main {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: 0.5% 1% 1% 1%;
        width: fit-content;
        height: fit-content;
        border-radius: 6px;
    }

    .placeholder_father {
        margin: 10px;
        float: left;
        width: fit-content;
        height: 500px;
        background: #202225;
        border: 2px solid #202225;
        border-radius: 6px;
    }

    .placeholder_name {
        left: 0;
        top: 0;
        width: 100%;
        height: 70px;
        text-align: center;
        background: #7289DA;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .placeholder_name_text {
        height: 100%;
        display: flex;
        margin: 0 5% 0 5%;
        justify-content: left;
        align-items: center;
        color: white;
        font-size: 24px;
        font-family: "Verdana";
    }

    .odkazy_format {
        margin: 5px;
        border-radius: inherit;
        font-size: 22px;
        font-family: "Verdana";
        color: #99AAB5;
    }

    .remove_decor {
        text-decoration: none;
    }

    .back_placeholder {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        background-color: #202225;
    }

    .back {

        text-align: center;
        font-size: 18px;
        color: #99AAB5;
        text-decoration: none;
        font-family: "Verdana";
    }
</style>

<head>
    <title></title>
</head>

<body style="margin: 0; background:#2f3136">
    <div class="nadpis"> <b class="nadpis_text_format">🎮 🎮 🎮 GAMES 🎮 🎮 🎮</b> </div>
    <div class="placeholder_main">
        <div class="placeholder_father">
            <div class="placeholder_name">
                <b class="placeholder_name_text">Herní Rozcestník</b>
            </div>
            <div class="slider">
                {{#each games}}<a href="{{{this.site}}}" class="remove_decor">
                    <div class="slide"><b class="odkazy_format" id="members">{{this.name}}</b></div>
                    {{/each}}
            </div>
        </div>
    </div>
    <a href="{{{host_value}}}main" class="back">
        <div class="back_placeholder">
            <h2>Back to Main menu<br></h2>
        </div>
    </a>
</body>

</html>