<body>

    <iframe style="display: none;" name="dummyframe" id="dummyframe"></iframe>


    <div class="nadpis" style="position: fixed;"> <b class="nadpis_text_format">Request joke</b> </div>
    <div class="request_joke_placeholder_main">
        <div class="placeholder_father">
            <div class="slider_name">
                <b class="slider_name_text">Žádost o přidání vtipu</b>
            </div>
            <div class="slider">

                <form action="/sendMessage" method="POST" target="dummyframe">
                    <input type="hidden" name="channel" value="{{jokes}}">
                    <input type="hidden" name="token" value="{{token}}">
                    <div class="column_for_invicible">
                        <input class="zanr" type="text" name="zanr" value="" placeholder="Žánr" required>
                    </div>
                    <div class="column_for_invicible">
                        <textarea class="vtip" name="vtip" id="" cols="30" rows="10" placeholder="Vtip" required></textarea>
                    </div>
                    <div class="column_for_invicible">
                        <input class="send" type="submit" style="cursor: pointer;">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <a href="{{{host_value}}}main" class="back">
        <div class="back_placeholder">
            <h2>Back to Main menu<br></h2>
        </div>
    </a>

</body>