<body style="margin: 0;">
    <div class="main">
        <div class="nadpis"> <b class="nadpis_text_format">How did you get here.</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">You are not supposed to be on this website.</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">Get back where you came from.</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">or</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">V</b> </div>
    </div>
    <a href="{{{host_value}}}main" class="back">
        <div class="back_placeholder">
            <h2>Main menu<br></h2>
        </div>
    </a>
</body>