<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
        .main {
            width: 100%;
            height: 100%;
        }

        .nadpis {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1% 1% 0.5% 1%;
            left: 0;
            top: 0;
            width: 98%;
            text-align: center;
            background: #7289DA;
            border-radius: 6px;

        }

        .nadpis_text_format {
            font-size: 48px;
            font-family: "Verdana";
            color: white;
        }

        .odkazy_format {
            margin: 5px;
            border-radius: inherit;
            font-size: 22px;
            font-family: "Verdana";
            color: #99AAB5;
        }

        .remove_decor {
            text-decoration: none;
        }

        .back_placeholder {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            background-color: #202225;
        }

        .back {

            text-align: center;
            font-size: 18px;
            color: #99AAB5;
            text-decoration: none;
            font-family: "Verdana";
        }
    </style>
</head>

<body style="margin: 0;">
    <div class="main">
        <div class="nadpis"> <b class="nadpis_text_format">How did you get here.</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">You are not supposed to be on this website.</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">Get back where you came from.</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">or</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">|</b> </div>
        <div class="nadpis"> <b class="nadpis_text_format">V</b> </div>
    </div>
    <a href="{{{host_value}}}main" class="back">
        <div class="back_placeholder">
            <h2>Main menu<br></h2>
        </div>
    </a>
</body>

</html>