<!DOCTYPE html>

<html lang="cs">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{#each public_list.styles}}
    <link rel="stylesheet" type="text/css" href="../public/styles/{{this.name}}">
    {{/each}}
    {{#each public_list.scripts}}
    <script src="../public/scripts/{{this.name}}"></script>
    {{/each}}
</head>


{{{body}}}

</html>