<!DOCTYPE html>

<html lang="cs">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/default.css">
    <link rel="stylesheet" type="text/css" href="../public/styles/{{token}}.css">
    <script type="application/javascript" src="../public/scripts/default.js"></script>
    <script type="application/javascript" src="../public/scripts/{{token}}.js"></script>
</head>

{{{body}}}


</html>